#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
    .container{
        width: 1370px;
        min-height: 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            width: 550px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_image{
                width: 130px;
                img{
                    width: 100%;
                    cursor: pointer;
                }
            }
            &_pages{
                width: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                ul{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        font-size: 16px;
                        cursor: pointer;
                        transition: 300ms;
                        &:hover{
                            color: #717fe0;
                        }
                        .sup{
                            padding: 4px 5px 4px 5px;
                            border-radius: 20px;
                            color: white;
                            background-color: #717fe0;
                        }
                    }
                }
            }
    }
    .right{
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
            font-size: 20px;
            transition: 300ms;
            &:hover{
                cursor: pointer;
                color: #717fe0;
            }
        }
    }
    }
}